/* Full-page container */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background Video */
.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Sends the video to the background */
}


.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: extrabold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    color: white;
    
    padding: 10px 15px;
    border-radius: 5px;
}

.signIN{
    font-size: larger;
}

.loginBox {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    width: 300px;
}

.loginBox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.loginBox button {
    width:40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.loginBox button:hover {
    background: lightblue;
}

